Importing the dependencies

In [11]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

Importing the data

In [12]:
train_data = pd.read_csv('Datasets/train.csv')
test_data = pd.read_csv('Datasets/test.csv')

In [13]:
train_data

,id,Sex,Age,Height,Weight,Duration,Heart_Rate,Body_Temp,Calories
0,0,male,36,189.0,82.0,26.0,101.0,41.0,150.0
1,1,female,64,163.0,60.0,8.0,85.0,39.7,34.0
2,2,female,51,161.0,64.0,7.0,84.0,39.8,29.0
3,3,male,20,192.0,90.0,25.0,105.0,40.7,140.0
4,4,female,38,166.0,61.0,25.0,102.0,40.6,146.0
...,...,...,...,...,...,...,...,...,...
749995,749995,male,28,193.0,97.0,30.0,114.0,40.9,230.0
749996,749996,female,64,165.0,63.0,18.0,92.0,40.5,96.0
749997,749997,male,60,162.0,67.0,29.0,113.0,40.9,221.0
749998,749998,male,45,182.0,91.0,17.0,102.0,40.3,109.0
749999,749999,female,39,171.0,65.0,19.0,97.0,40.6,103.0

In [14]:
train_data.isnull().sum()

id            0
Sex           0
Age           0
Height        0
Weight        0
Duration      0
Heart_Rate    0
Body_Temp     0
Calories      0
dtype: int64

In [15]:
test_data.isnull().sum()

id            0
Sex           0
Age           0
Height        0
Weight        0
Duration      0
Heart_Rate    0
Body_Temp     0
dtype: int64

In [16]:
encoder = LabelEncoder()

train_data['Sex'] = encoder.fit_transform(train_data['Sex'])
test_data['Sex'] = encoder.fit_transform(test_data['Sex'])

Splitting the data

In [17]:
X = train_data.drop(columns=['id','Calories'])
Y = train_data['Calories']
test_data.drop(columns=['id'],inplace=True)

In [18]:
X

        Sex  Age  Height  Weight  Duration  Heart_Rate  Body_Temp
0         1   36   189.0    82.0      26.0       101.0       41.0
1         0   64   163.0    60.0       8.0        85.0       39.7
2         0   51   161.0    64.0       7.0        84.0       39.8
3         1   20   192.0    90.0      25.0       105.0       40.7
4         0   38   166.0    61.0      25.0       102.0       40.6
...     ...  ...     ...     ...       ...         ...        ...
749995    1   28   193.0    97.0      30.0       114.0       40.9
749996    0   64   165.0    63.0      18.0        92.0       40.5
749997    1   60   162.0    67.0      29.0       113.0       40.9
749998    1   45   182.0    91.0      17.0       102.0       40.3
749999    0   39   171.0    65.0      19.0        97.0       40.6

[750000 rows x 7 columns]

Splitting the data in train test

In [19]:
X_train , X_test , Y_train , Y_test = train_test_split(X , Y , test_size=0.2, random_state=42)

Model Implementation

In [20]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()

In [ ]:
model.fit(X_train, Y_train)

In [ ]:
model.predict(X_test)

array([197.08686251,  67.31936343,  41.13220736, ...,  44.47120989,
        27.6725451 , 166.11530054], shape=(150000,))

kaggle test data

In [ ]:
Test_Prediction = model.predict(test_data)

In [ ]:
Test_Prediction

array([ 21.41290703, 114.68671561,  93.22860574, ...,  76.28405124,
       171.89589771,  88.49591071], shape=(250000,))

Submission file

In [ ]:
sample = pd.read_csv('Datasets/sample_submission.csv')

In [ ]:
Final_prediction = pd.DataFrame({
    'id': sample['id'],  
    'Calories': Test_Prediction
})

In [ ]:
Final_prediction

            id    Calories
0       750000   21.412907
1       750001  114.686716
2       750002   93.228606
3       750003  130.812936
4       750004   73.674566
...        ...         ...
249995  999995   23.087837
249996  999996    8.811457
249997  999997   76.284051
249998  999998  171.895898
249999  999999   88.495911

[250000 rows x 2 columns]

In [ ]:
Final_prediction.to_csv('Datasets/submission.csv', index=False)